grafana:
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Loki
          type: loki
          access: proxy
          url: http://loki-gateway.loki.svc.cluster.local
          isDefault: true

persistence:
  enabled: true
  type: pvc
  size: 10Gi
  storageClassName: local-path