mode: standalone

rootUser: loki
rootPassword: loki1234

persistence:
  enabled: true
  size: 20Gi
  storageClass: local-path

resources:
  requests:
    memory: 512Mi
    cpu: 250m
  limits:
    memory: 1Gi
    cpu: 500m