apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-dep
  namespace: project
spec:
  replicas: 1
  strategy:
    type: Recreate    # Because pvc is RWO, the old pod needs to be deleted before new one can attach to the pv
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      volumes:
        - name: server-volume
          persistentVolumeClaim:
            claimName: server-claim
      containers:
        - name: server-container
          image: PROJECT_FRONT/IMAGE
          #image: jouchef/server:2.6.1
          resources:
            limits:
              memory: 100Mi
              cpu: 50m
            requests:
              memory: 50Mi
              cpu: 5m
          env:
            - name: FRONT-PORT
              value: "3006"
            - name: BACKENDSVCURL
              value: "backend-svc"
            - name: SVCPORT
              value: "2345"
            - name: IMGCACHETIME
              value: "600"  #seconds
            - name: IMAGEPATH
              value: "images/kuva.jpg"   # This directory will be inside of /static
            - name: PICURL
              value: "https://picsum.photos/300/200.jpg"
          volumeMounts:
            - name: server-volume
              mountPath: /app/static
        - name: backend-container
          image: PROJECT_BACK/IMAGE
          #image: jouchef/backend:2.10.3
          resources:
            limits:
              memory: 200Mi
              cpu: 100m
            requests:
              memory: 50Mi
              cpu: 5m
          ports:
            - name: backend-port
              containerPort: 3007   #This need to be same as env BACKEND-PORT
          env:
            - name: BACKEND-PORT
              value: "3007"
            - name: DB_HOST
              value: "todo-postgres-svc"
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: "tododb"
            - name: DB_USER
              value: "todo"
            - name: DB_PASSWORD
              value: "secretpassword"
          readinessProbe:
            httpGet:
              path: /todos    
              port: backend-port    
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /todos
              port: backend-port
            initialDelaySeconds: 15
            periodSeconds: 20