apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      containers:
        - name: pingpong-container
          image: jouchef/pingpong:3.2.0
          env:
            - name: PORT
              value: "3002"
            - name: DB_HOST
              value: "postgres-svc"
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: "pingpongdb"
            - name: DB_USER
              value: "pingpong"
            - name: DB_PASSWORD
              value: "secretpassword"
