<!DOCTYPE html>
<html>
    <head>
        <title>ToDo</title>
    </head>

    <body>
        <h1>The project App on GKE</h1>
        <div>
        <img src="{{ url_for('static', filename=imgPath) }}">
        </div>

        <form action="/todos" method="post">
            <label for="task">write your task here:</label><br>

            <input
                type="text"
                id="task"
                name="task"
                required
                minlength="1"
                maxlength="140"
                size="50"
            /> <br>

            <input type="submit" value="submit">
        </form>


        <ul>
            {% for task in tasks %}
                <li>
                    {{ task.task }}
                    {% if task.done %}
                        <b>done</b>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <p>DevOps with Kubernetes 2025</p>
    </body>
</html>